# Ignorar o ambiente virtual
venv/
env/

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar arquivos de variáveis de ambiente (senhas futuras)
.env

# Código para mandar para o Git.
.num